<!DOCTYPE html>
<html>
<head>
  <title>ChatDemo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--Navbar -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <%= link_to 'Chat Application', root_path, {class: 'navbar-brand'} %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-1000"
            aria-controls="navbarSupportedContent-1000" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-1000">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <% if user_signed_in? %>
          <li class="nav-item ">
            <a class="nav-link disabled" href="#">
              <%= current_user.name || current_user.username || current_user.email %>
            </a>
          </li>
          <li class="nav-item avatar dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag('crop.jpeg', {class: 'rounded-circle z-depth-0', alt: 'avatar image', height: '35'}) %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Edit profile', edit_user_registration_path, {class: 'dropdown-item'} %>
              <%= link_to 'Logout', destroy_user_session_path, {class: 'dropdown-item', method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, {class: 'nav-link'} %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!--/.Navbar -->
  <%= yield %>
</div>
</body>
</html>
